.footer {
	min-height: 50px;
	background: #0067A3;
	color: #fff;
	display: flex;
	padding: 0 20px;
	height: 55px;
	align-items: center;
}

.counts {
	display: flex;
}

.count {
	position: relative;
	margin-right: 36px;
}

.copy {
	margin-left: auto;
}
